#map {
	margin-top:40px;
}

body {
	background-color:#ccc;
}

.main {
	background-color:white;
	margin-bottom:40px;
	padding-bottom:40px;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
}

#map {
	border-bottom:1px solid #aaa;
}

.activity {
	margin-top:20px;
}

.type {
	text-align:right;
}

.content {
	
}